.profile__page__video__card>video{
    width: 270px;
    height: 300px;
    /* height: 200px; */
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}
.profile__name__video__card__flex{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1px;
}
.video__modal{
overflow: hidden !important;
}
.css-2zwj5t-MuiPaper-root-MuiDialog-paper{
    width: 383px !important;
}
.css-hz1bth-MuiDialog-container{
    border-radius: 999px !important;
}

.MuiDialog-container::-webkit-scrollbar {
    display: none !important;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .MuiDialog-container {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }