html{
  scroll-snap-type: y mandatory;
}
:root {
  /* Header vars */
  --header-color : white ;
  --search-box-color: rgb(238, 238, 238);
  
  /* Comment vars */
  --comment-area-color: rgb(249, 239, 255);
  --comment-type-box-color: rgb(238, 238, 238);
  --comment-type-color: rgb(238, 238, 238);
  /* Video vars */
  --video-color:rgb(185, 130, 236);
}
