.video__container{
    top: 40px;
    position: relative;
    height: 800px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
    
}
.video__container::-webkit-scrollbar{
    display: none;
}
.video__container{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.video_slid{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top:10px ;
    display: flex;
}
/* .video_container_image_card{
    position: absolute;
    left: 100px;
} */
.main__container{
    width: fit-content;
    margin: 0 auto;
}