.video__container{
    top: 40px;
    position: relative;
    height: 800px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}
.video__container::-webkit-scrollbar{
    display: none;
}
.video__container{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
