.vedio{
    border-radius: 20px;
    position: relative;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    background-color: rgb(185, 130, 236);
}