.video{
    border-radius: 20px;
    position: relative;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    background-color: var(--video-color);
}
.video_side_bar{
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    left: 10px;
     -webkit-flex-direction: column;
     bottom: 30%;
     gap: 20px;
}
.video_comment{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
