.video{
    border-radius: 20px;
    position: relative;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    background-color: var(--video-color);
    margin-top: 3px;
    /* border-radius: 20px; */
}
.video_side_bar{
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    left: 10px;
     -webkit-flex-direction: column;
     bottom: 30%;
     gap: 20px;
}
.video_comment{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.video_pay_place{
    position: absolute;
    bottom: 6rem;
    left: 45%;
    width: fit-content;

}
.video__player{
    background-color: var(--video-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    border: 1px solid  var( --form-border-color);
}